[submodule "Curso 3/foundaryYT/lib/forge-std"]
	path = Curso 3/foundaryYT/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Curso 3/foundaryYT/lib/openzeppelin-contracts"]
	path = Curso 3/foundaryYT/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Curso 3/foundaryYT/lib/ds-test"]
	path = Curso 3/foundaryYT/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "Curso 6/Leccion 6/foundry-simple-storage/lib/forge-std"]
	path = Curso 6/Leccion 6/foundry-simple-storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
