[submodule "Curso 6/Leccion 7/foundry-fund-me-23/lib/forge-std"]
	path = Curso 6/Leccion 7/foundry-fund-me-23/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Curso 6/Leccion 7/foundry-fund-me-23/lib/chainlink-brownie-contracts"]
	path = Curso 6/Leccion 7/foundry-fund-me-23/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Curso 6/Leccion 7/foundry-fund-me-23/lib/foundry-devops"]
	path = Curso 6/Leccion 7/foundry-fund-me-23/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "Curso 6/Leccion09/lottery-fd/lib/forge-std"]
	path = Curso 6/Leccion09/lottery-fd/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Curso 6/Leccion09/lottery-fd/lib/chainlink-brownie-contracts"]
	path = Curso 6/Leccion09/lottery-fd/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
