:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
}

.form--input {
  margin-bottom: 15px;
  height: 30px;
  width: 100%;
  text-indent: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
}



h2 {
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
  
}

input[type="submit"] {
  margin-top: 15px;
  height: 30px;
  width: 100%;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
  cursor: pointer;
}

label {
  margin-bottom: 5px;
  display: block;
}

.checkbox--container {
  border-radius: 5px;
}

fieldset {
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  margin-bottom: 15px;
}

select {
  margin-bottom: 15px;
  height: 30px;
  width: 100%;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
}

.submit--button {
  margin-top: 15px;
  height: 30px;
  width: 100%;
  border: 1px solid #444;
  color: white;
  background-color: green;
  border-radius: 5px;
  display: block;
  cursor: pointer;
}