.header{
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: #fff;
    padding: 0 10px;
}

.header--img{
    width: 50px;
    height: 100;
    margin-right: 10px;
}

.header--title{
    font-size: 1.25rem;
    margin-right: auto;
}

.header--proyect{
    font-size: .85rem;
    font-weight: 500;
    margin-right: 10px;
}

